input[type="text"], input[type="password"] {
	height: 28px;
}

#bodyContent {
	margin-top: 80px;
}

.page-hidder {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: 10;
}

.alert-box{
	position: absolute;
	height: 200px;
	width: 400px;
	left: 200px;
	right: 200px;
	z-index: 20;
}

#myCarousel {
	height: 600px;
	width: 800px;
	margin: auto;
}

.main-block {
	/*background-color: gray;*/
	
}

.sub-block {
	/*background-color: pink;*/

}